{% extends "layout.html" %}
{% block menu %} 
{% endblock %}

{% block body %}
    <div class="container container-box">
      <h1>Confirmation Email Sent</h1>
      <br>
        <div class="mb-3">
            <label for="email" class="form-label">Confirmation e-mail sent to </label>
            <input type="email" class="form-control" id="email" name="email" value="{{ form_fields.email | default('') }}" disabled>
        </div>
        <br>
        We have sent an e-mail to you for verification. Please follow the link provided to finalize the signup process.
      </div>  
    </div>  
{% endblock %}