<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', path='/images/favicon1.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/researcher-web.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Research Web</title>
</head>
<body>
    {% block menu %} 
        {% include "main_menu.html" %}
    {% endblock %}
    
    {% block body %}{% endblock %}

    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
    <script src="{{ url_for('static', path='/bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>