<!-- research-web.css must be included.
We currently include it indirectly through layout.html. -->
<div class="main-menu">
    <div>
    <img src="{{ url_for('static', path='/images/logo1.jpg') }}" alt="Logo" class="logo">
    <b style="font-size: 24px;">LLM Analyst</b>
    </div>
    <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/docs" class="nav-link">Docs</a>
        <a href="/contact" class="nav-link">Contact</a>
    </div>
    <div>
    <a href="/login"><button class="btn btn-login">Login</button></a>
    <a href="/register"><button class="btn btn-try-free">Try for Free</button></a>
    </div>

</div>