{% extends "layout.html" %}
{% block menu %} 
{% endblock %}

{% block body %}
    <div class="container container-box">
      <h1>Request Password Reset</h1>
      <br>
      {% if errors and errors.database %}
        <small id="dbError" class="form-text text-danger">
        <i class="fas fa-exclamation-triangle error-icon"></i>
        {{ errors.database }}</small>
        <br>
      {% endif %}

      <form method="post" action="/reset-password-request">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ form_fields.email | default('') }}" required>
            {% if errors and errors.email %}
                <small id="signinError" class="form-text text-danger">
                  <i class="fas fa-exclamation-triangle error-icon"></i>
                  {{ errors.email }}</small>
          {% endif %}
        </div>
        
      <button type="submit" class="btn btn-primary w-100">Reset Password</button>
      </form>
    </div>
{% endblock %}