{% extends "layout.html" %}
{% block menu %} 
{% endblock %}

{% block body %}
    <div class="container container-box">
      <h1>Reset Email Sent</h1>
      <br>
        <div class="mb-3">
            <label for="email" class="form-label">Reset e-mail sent to </label>
            <input type="email" class="form-control" id="email" name="email" value="{{ form_fields.email | default('') }}" disabled>
        </div>
        <br>
        We have emailed you a link to reset your password. Please click the link to complete the process.            
      </div> 
    </div> 
{% endblock %}