{% extends "layout.html" %}
{% block menu %} 
{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap" rel="stylesheet">
    <style>
      .custom-font {
          font-family: 'Roboto Condensed', sans-serif;
          font-size: 0.9rem; /* Slightly smaller font size */
      }      
    </style>
  
    <div class="container container-box">
      <h1>Sign up for an Account</h1>
      {% if errors and errors.database %}
          <small id="dbError" class="form-text text-danger">
            <i class="fas fa-exclamation-triangle error-icon"></i>
            {{ errors.database }}</small>
      {% endif %}
      <br>
      <form method="post" action="/register">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ form_fields.first_name | default('') }}" required>
            </div>
            <div class="col-md-6">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ form_fields.last_name | default('') }}" required>
            </div>
        </div>
        <div class="mb-3 {% if errors and errors.email %} has-error {% endif %}">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ form_fields.email | default('') }}" required>
            {% if errors and errors.email %}
               <small id="emailError" class="form-text text-danger">
                <i class="fas fa-exclamation-triangle error-icon"></i>
                {{ errors.email }}</small>
            {% endif %}
        </div>
        <div class="mb-3 {% if errors and errors.password %} has-error {% endif %}">
          <div class="d-flex justify-content-between align-items-center">
          <label for="password" class="form-label">Password</label>
          <a href="/reset-password-request">Forgot your Password</a>
          </div>
          <input type="password" class="form-control" 
                id="password" name="password" 
                value="{{ form_fields.password | default('') }}"
                required>
          {% if errors and errors.password %}
            <small id="passwordError" class="form-text text-danger">
            <i class="fas fa-exclamation-triangle error-icon"></i>
            {{ errors.password }}</small>
          {% endif %}
      </div>
      <button type="submit" class="btn btn-primary w-100">Sign Up</button>
      </form>
      <div class="mt-3 text-center custom-font">
        <p>Already have an account? <a href="/login">Sign in</a></p>
      </div>
    </div>
{% endblock %}